<?xml version="1.0" encoding="utf-8"?>
<DATA>
  <DATABASE>
    <SERVERNAME>VMHLAPW10\SQL2017</SERVERNAME>
    <DATABASENAME>PTTKPMCRM</DATABASENAME>
    <USERNAME>
    </USERNAME>
    <PASSWORD>
    </PASSWORD>
  </DATABASE>
  <ATTRIBUTESYSTEM>
    <DEFAULTEMPID>0</DEFAULTEMPID>
    <DEFAULTCUSTID>0</DEFAULTCUSTID>
  </ATTRIBUTESYSTEM>
  <CONFIGUSER>
    <USERLOGIN UserName="admin" />
    <SKININFO SkinPaintStyle="Skin" SkinName="Money Twins" />
  </CONFIGUSER>
</DATA>