<?xml version="1.0" encoding="utf-8" ?>
<DATA>
    <DATABASE>
        <SERVERNAME>HUNGVU-PC\SQL2017</SERVERNAME>
        <DATABASENAME>VMHCMS</DATABASENAME>
        <USERNAME></USERNAME>
        <PASSWORD></PASSWORD>
    </DATABASE>
    <ATTRIBUTESYSTEM>
        <DEFAULTEMPID>1</DEFAULTEMPID>
        <DEFAULTCUSTID>1</DEFAULTCUSTID>
    </ATTRIBUTESYSTEM>
</DATA>
